# Environment & Secret Variables
.env
.env.*
!.env.example

# Python Cache & Environments
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Datasets & Large Training Files
**/dataset/
**/dataset/**
dataset/
image/dataset/
**/runs/
**/runs/**
runs/
*.zip
*.tar*
*.cache
